p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1810px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  outline: 2px solid red;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/*!-------------------- HEADER --------------------*/

.header {
  background-color: blue;
  padding-top: 6px;
  padding-bottom: 26px;
}

.header-container {
  padding-left: 393px;
}

.header-top {
  display: flex;
  align-items: center;

  margin-bottom: 299px;
}

.header-info {
  margin-left: 288px;
  /* margin-left: auto; */
}

.header-contacts-info {
  display: flex;
  /* flex-grow: 1; */
  justify-content: right;
  /* align-items: center; */
  margin-bottom: 14px;
}

.header-address {
  font-style: normal;
  /* float: right; */
  margin-right: 62px;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  font-size: 14px;
  line-height: 2.14;
  font-weight: 700;
  color: rgba(243, 243, 243, 0.8);
}

.header-address-link span {
  font-weight: 400;
}

.header-socials-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-socials-link {
  color: rgba(243, 243, 243, 0.8);
}

.header-navigation {
  border-radius: 10px;
  background-color: rgb(251, 211, 65);
  width: 760px;
}

.header-menu {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.header-menu-link {
  font-size: 18px;
  line-height: 1.66;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.header-title {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 41px;
}

.header-title span {
  line-height: 36px;
}

.header-btn {
  font-family: Arial;
  font-size: 18px;
  line-height: 1.66;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(251, 211, 65);
  cursor: pointer;
  padding: 17px 30px;
  border-radius: 10px;
  border: none;
  margin-bottom: 184px;
}

/*!-------------------- OFFERS --------------------*/

.offers {
  padding-top: 72px;
  padding-bottom: 75px;
}
.container {
}

.offers-menu {
  display: flex;
  gap: 32px;
  padding-left: 393px;
  margin-bottom: 70px;
}

.offers-menu-item {
}

.offers-menu-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

.offers-list {
  display: flex;
  gap: 70px;
}

.offers-item {
  border-radius: 7px;
  background-color: rgb(248, 247, 247);
  display: flex;
  padding: 13px 21px 14px 14px;
  gap: 28px;
}

.offers-img {
}

.offers-info {
}
.offers-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.76;
  color: rgb(0, 0, 0);
  margin-bottom: 6px;
}

.offers-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(58, 58, 58);
  /* margin-bottom: 28px; */
}

.offers-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(58, 58, 58);
  margin-top: 28px;
  margin-bottom: 24px;
}

.offers-buy {
  display: flex;
}

.offers-price {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(0, 0, 0);
}

.offers-conditions {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(138, 138, 138);
  padding-left: 10px;
}

.offers-link {
  color: yellow;
  /* display: block; */
  margin-left: auto;
}

/*!-------------------- ADVANTAGES --------------------*/

.advantages {
  background-color: rgb(248, 247, 247);
  padding-top: 44px;
  padding-bottom: 74px;
}

.advantages-container {
  padding-left: 393px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin-bottom: 57px;
}
.advantages-response {
  display: flex;
  gap: 91px;
  align-items: center;
}
.advantages-img {
}
.box {
  width: 597px;
  height: 202px;
  overflow: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  max-width: 540px;
}

.advantages-text {
}

/*!-------------------- FORM --------------------*/

.form {
  background-color: rgb(12, 78, 56);
  padding-top: 47px;
  padding-bottom: 42px;
}

.form-container {
  padding-left: 394px;
}

.form-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 34px;
}

.form-box {
  /* background-color: rgb(0, 0, 0); */
  /* opacity: 0.6; */
  /* position: absolute; */
  /* left: 394px; */
  /* top: 1791px; */
  /* width: 1139px; */
  /* height: 131px; */
  /* z-index: 75; */
  padding: 44px 29px 39px 39px;
  height: 131px;

  opacity: 0.6;
  background-color: rgb(0, 0, 0);
}
.form-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  color: rgb(229, 229, 229);

  padding-left: 15px;
  padding-bottom: 3px;
  background-color: transparent;
  outline: transparent;

  border: none;
}

.form-input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  color: rgb(229, 229, 229);
}

.form-input:focus::placeholder {
  opacity: 0;
}

.select {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  color: rgb(229, 229, 229);

  padding-left: 15px;
  padding-bottom: 3px;
  background-color: transparent;
  outline: transparent;

  border: none;
}

.select:focus {
  opacity: 0;
}

.select-value {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.68;
  color: rgb(0, 0, 0);
}

.form-btn {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  color: rgb(0, 0, 0);
  background-color: rgb(251, 211, 65);
  cursor: pointer;
  padding: 17px 30px;
  border-radius: 10px;
  border: none;
  margin-left: 59px;
}

/*!-------------------- FOOTER --------------------*/

.footer {
  background-color: rgb(34, 51, 77);
  padding-top: 51px;
  padding-bottom: 28px;
}

.footer-container {
  padding-left: 393px;
  display: flex;

  gap: 146px;
}

/* .footer-top {
  display: flex;
} */

.footer-logo {
}

.footer-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: rgb(255, 255, 255);
  max-width: 316px;
  margin-top: 28px;
  margin-bottom: 17px;
  border-top: 1px solid rgb(247, 248, 249);
  border-bottom: 1px solid rgb(247, 248, 249);
  padding-top: 24px;
  padding-bottom: 28px;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: rgb(194, 194, 194);
}

.footer-info {
  display: flex;

  gap: 115px;
}

.footer-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: rgb(255, 255, 255);
  margin-bottom: 47px;
}

.footer-navigation {
}

.footer-menu {
}

.footer-menu-item {
}
.footer-menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: rgb(255, 255, 255);
}

.footer-support-list {
}

.footer-support-item {
}

.footer-support-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: rgb(255, 255, 255);
}

.footer-address {
  font-style: normal;
  border-bottom: 1px solid rgb(247, 248, 249);

  padding-bottom: 21px;
  margin-bottom: 20px;
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: rgba(243, 243, 243, 0.8);
}

.footer-socials-list {
  display: flex;
  gap: 25px;
}

.footer-socials-item {
}

.footer-socials-link {
  color: rgba(243, 243, 243, 0.8);
}
